.filmPage {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  width: 100%;
  margin-top: 50px;
}

.filmPage > img {
  display: block;
  width: calc(50% - 50px);
  max-width: 500px;
}

.filmDesc {
  width: 50%;
}